.animation-wrapper {
  width: 40%;
  margin: 0 auto;
}

.success-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-transform: uppercase;
  color: var(--brand-color);
  font-size: 12px;
}

h3 {
  font-size: 18px;
  margin-bottom: 12px;
}

.bookmark-added {
  border: 1px solid var(--brand-color);
  padding: 12px 32px 14px;
  border-radius: 6px;
  background: white;
  word-break: break-word;
  margin: 0 16px;
  min-height: 44px;
}

@media only screen and (min-width: 600px) {
  .bookmark-added {
    min-height: 46px;
  }
}

p {
  font-size: 14px;
}

.home-link {
  color: white;
  background: var(--brand-color);
  padding: 0 24px;
  margin-top: 32px;
  transition: background 300ms ease;
}

.home-link:hover {
  background: #f17360;
}

@media only screen and (min-width: 600px) {
  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 36px;
    margin-bottom: 16px;
  }

  p {
    font-size: 16px;
  }

  .home-link {
    padding: 0 24px;
    margin-top: 24px;
  }
}
