.pagination {
  width: 100%;
  margin: 0 auto;
}

.pagination--hide {
  display: none;
}

.bookmark-item {
  background-color: white;
  color: var(--font-color);
  font-size: 12px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid transparent;
  margin: 8px;
  padding-bottom: 6px;
  min-height: 22px;
}

.contenteditable:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid var(--brand-color);
  margin: 20px 20px 18px;
}

@media only screen and (min-width: 600px) {
  .bookmark-item {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    padding-bottom: 6px;
    margin: 13px;
    min-height: 64px;
  }
}

@media only screen and (min-width: 600px) {
  .contenteditable:focus {
    margin: 14px 12px 10px;
  }
}

.bookmark-text {
  display: flex;
  align-items: center;
  padding: 8px;
}

@media only screen and (min-width: 600px) {
  .bookmark-text {
    padding: 0;
    display: inline-block;
    width: 100%;
    display: flex;
  }
}

.bookmark-text a {
  word-wrap: break-word;
  min-width: 1%;
  padding: 12px;
}

@media only screen and (min-width: 600px) {
  .bookmark-text a {
    word-break: break-word;
    padding: 12px;
  }
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (min-width: 600px) {
  .button-wrapper {
    display: flex;
    align-items: center;
    padding-top: 4px;
  }
}

.pagination-controls {
  text-align: center;
  width: 100%;
  margin: 60px 0;
}

.pagination-controls span:hover {
  cursor: pointer;
}

.page-button {
  padding: 0 20px;
}

.click-page-number {
  color: var(--brand-color);
  font-size: 36px;
  margin: 0 12px;
}

.opacity {
  opacity: 0.5;
}
