<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Palanquin:400,700"
    />
    <title>Bookmark Pro</title>
    <meta charset="UTF-8" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"
    />
  </head>
  <body>
    <%= require('html-loader!../partials/header/index.html') %>

    <section class="add-bookmark">
      <form action="results.html" id="form-add-bookmark">
        <input
          name="saved-url"
          type="text"
          id="form-input"
          placeholder="Add a new bookmark"
          value=""
          max="100"
        /><br />
        <button type="submit">
          <p class="submit-text">Add Bookmark</p>
          <img class="submit-spinner" src="src/img/svg/spinner.svg" />
        </button>
      </form>
      <p class="error-message"></p>
    </section>

    <section class="my-bookmarks">
      <div class="my-bookmarks-inner">
        <h2 class="section-title">My Bookmarks</h2>
        <div class="list-wrapper">
          <%= require('html-loader!../partials/pagination/index.html') %>
        </div>
      </div>
    </section>
  </body>
</html>
