form br {
  display: none;
}

a {
  text-decoration: none;
  color: #2c302f;
}

.add-bookmark {
  padding: 20px;
  text-align: center;
}

.add-bookmark button {
  background: #00d372;
  color: white;
  height: 38px;
  width: 140px;
}

.my-bookmarks {
  background-color: #fef7ed;
  min-height: 100vh;
}

.my-bookmarks__inner {
  padding: 20px;
}

.error-message {
  color: red;
  text-transform: uppercase;
}

.submit-spinner {
  animation: rotate 2s linear infinite;
  width: 20px;
  height: 20px;
  display: none;
}
.path {
  stroke: white;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
